.main-footer {
  color: white;
  background-color: #;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer {
  background-color: #050000;
  color: #fff;
  padding: 3em;
  text-align: center;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list li {
  margin: 0 1em;
}

.social_list li:hover {
  color: #ffbb33;
}
